@import "../../responsive.scss";

.myAssets{
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
}


.sideContainer2 {
    flex: 1; /* Sidebar takes 1 parts of the total flex space */
    min-width: 245px; /* Optional: Minimum width for sidebar */
    background-color: #f4f4f4; /* Example styling for visibility */
  
  @include md {
    min-width: 80px;
   }
  }

  .myAssetsContainer {
    flex: 8; /* Main content takes the remaining space */
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }

  .myLikedAssetsContainer {
    display: flex;
    justify-content: space-between; /* Space between child components */
    align-items: flex-start; /* Aligns items at the top */
    gap: 30px; /* Space between child components */
    padding: 20px;
    margin-top: 20px;
  }  


  /* Ensure the card container takes full width and allows horizontal scrolling */
  .card2Contsiner {
    flex: 1;
    padding: 20px;
    overflow-x: auto; /* Allows horizontal scrolling */
  }

  
