.auction{
  font-family: "Poppins", sans-serif;

  display: flex; /* Ensures sidebar and main content align horizontally */
  
  .sideContainerA{
    flex: 1; /* Sidebar takes 1 parts of the total flex space */
    min-width: 250px; /* Optional: Minimum width for sidebar */
    // background-color: #f4f4f4; /* Example styling for visibility */
  }

  .auctionContainer{
    flex: 8; /* Main content takes remaining space */
    display: flex;
    flex-direction: column;
  }

  // .auctionFilterContainer{
  //   display: flex;
  //   flex-direction:row;
  // }

  // .auctionCardContainer{
  //   flex: 4;
  // }

}