.home {
  display: flex; /* Sidebar and main content align horizontally */
  height: 100vh;
  font-family: "Poppins", sans-serif;


  .sideContainer {
    min-width: 245px; /* Minimum width for sidebar */
  }

  .homeContainer {
    flex: 8; /* Main content takes the remaining space */
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }

  .latestAssetContainer,
  .auctionersContainer {
    display: flex;
    justify-content: space-between; /* Space between child components */
    align-items: flex-start; /* Aligns items at the top */
    gap: 30px; /* Space between child components */
    padding: 20px;
    margin-top: 20px;
  }

  // Add additional styles for separators if needed
  // .separator2 {
  //   display: block;
  //   width: 100%;
  //   height: 2px;
  //   background-color: black;
  //   margin-top: -20px;
  // }
}
